@font-face {
  font-family: 'Designer';
  src: url(../Fonts/Designer.otf) format('truetype');
}

body{
  display: flex;
  justify-content: center;
  font-family: 'Designer', sans-serif;
  background-color: rgb(48, 48, 48);
}
#gameContainer{
  text-align:center;
}
#gameBoard{
  border: 5px solid;
  border-radius: 15px;
  background-color: #555555;
}

#scoreText{
  padding-left: 50px;
  font-weight: bold;
  font-family: 'Designer';
  font-size:30px ;
}

#resetBtn{
  font-family: 'Designer';
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 15px;
  width: 80px;
  height: 30px;
  border: 1px;
  border-radius: 10px;
  cursor: pointer;
}
#resetBtn.invisible{
  display: none;
}

#screen{
  background-color: rgb(66, 66, 66);
  border: 5px solid;
  border-radius: 15px;
  width: 600px;
  height: 600px;
}
#contenu{
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  align-items: center;
}

button{
  font-weight: bold;
  background-color: rgb(66, 66, 66);
}

.gameOverText{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color:black;
  text-align: center;
  margin-top: 20px;
}